<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Inscription!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<style>
			li.dropdown:hover div.dropdown-menu {
				display: block;
			}
		</style>
		<!-- Navbar de chez bootswatch  -->
		<nav class="navbar navbar-expand-lg bg-primary stickyNavbar" data-bs-theme="dark">
			<div class="container-fluid">
				<a class="navbar-brand active " href="#">&#127968;</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarColor01"></div>
				<ul class="navbar-nav me-auto">
					<li class="nav-item"></li>
					<li class="nav-item">
						{% if not app.user %}
							<li class="nav-item">
								<a class="nav-link" href="{{path('login')}}">Connexion</a>
							</li>
						{%  else %}
							<li class="nav-item">
								<a class="nav-link" href="{{path('logout')}}">Déconnexion</a>
							</li>
						{% endif %}
					</li>
				</ul>
			</div>
		</nav>
		<div class="container" style="margin-top:1.5%;">
			{% block body %}
			<div class="form-inscription">
				{{form_start(form)}}
				{{form_row(form.username,{'label':'Nom d\'utilisateur','attr':{'placeholder':'Nom d\utilisateur ...'},})}}
                        {{form_row(form.email,{'label':'Adresse email','attr':{'placeholder':'Adresse email ...'}})}}
                        {{form_row(form.password,{'label':'Mot de passe','attr':{'placeholder':'Mot de passe ...'}})}}
                        {{form_row(form.confirm_password,{'label':'Confirmation du mot de passe','attr':{'placeholder':'Répétez votre mot de passe'}})}}
                            {# <button type="submit" class="btn btn-primary"> Inscription</button> #}
                            {%  if doubleCompte %}
                                <button type="submit" class="btn btn-success" >
                                    Utilisateur enregistré ! 
                                    <i>Connectez-vous <a href="{{path('login')}}" style="color:#ECECEA;"> Ici </a></i>
                                </button>
                            {%  else %}
                                <button type="submit" class="btn btn-primary">
                                    Inscription
                                </button>
                            {%  endif %}
                        {{form_end(form)}}
                    </div>
                </div>
                <script type="text/javascript" src="{{ asset('js/accueil.js') }}"></script> 
            {% endblock  %}
	</body>
</html>
