{%  extends 'base.html.twig' %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 5em auto;
			max-width: 800px;
			width: 95%;
			font: 1.1em sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
		h4 {
			text-decoration: underline;
		}
		h5:nth-child(even) {
			background-color: #dddddd;
		}
		/* g placé ces 2 classe dans table.css mais ça prend pas! */
		.aligneDroite {
			float: right;
		}
		.message {
			background-color: #ececea;
			padding: 0.7em;
			height: auto;
			overflow-y: auto;
			/* spécifique à cette page */
			margin-bottom: 0.5em;
		}
	</style>

	<div class="example-wrapper">
		{{ form(form) }}

			<div class="message">
				Mise à jour de la mission:

				<span class="aligneDroite">
					{{ mission.id }}:
					<b>{{ mission.task }}</b>
				</span>
			</div>
			{#  {{maDate|date('d/m/Y')}} converti la date en français - c ça un bon filtre ! #}
			{% for tache in taches %}
				<h5>
					<span>
						{{ tache.id }}.....{{ tache.task }}.....{{ tache.dueDate|date('d/m/Y') }}</span>
					<span></span>
				</h5>
			{% endfor %}
		</div>
		<small style="bottom:0; color:gray">
			<a href="https://symfony.com/doc/5.4/forms.html#rendering-forms" target="_blanck" style="text-decoration:none">SensioLabs</a>
		</small>
	{% endblock %}
