{%  extends 'base.html.twig' %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 5em auto;
			max-width: 800px;
			width: 95%;
			font: 1.1em sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
		h4 {
			text-decoration: underline;
		}
		h5:nth-child(even) {
			background-color: #dddddd;
		}
		/* pourquoi à l'exterieur(table.css), cette classe ne prend pas? */
		.message {
			background-color: #ececea;
			padding: 0.7em;
			margin-bottom: 0.5em;
		}
	</style>

	<div class="example-wrapper">
		{{ form(form) }}
			{% if(mission.id ) %}
				<p class="message">
					Veuiller confirmer la Suppression de la mission
					<span style="float:right">
						{{ mission.id }}:
						<b>{{ mission.task }}</b>
					</span>
				</p>
			{% else %}
				<p class="message">
					Vous avez supprimé la mission
					<b style="float:right">{{ mission.task }}</b>
					!
				</p>
			{% endif %}
			{#  {{maDate|date('d/m/Y')}} converti la date en français - c ça un bon filtre ! #}
			{% for tache in taches %}
				<h5>
					<span>
						{{ tache.id }}.....{{ tache.task }}.....{{ tache.dueDate|date('d/m/Y') }}</span>
					<span></span>
				</h5>
			{% endfor %}
		</div>
		<small style="bottom:0; color:gray">
			<a href="https://symfony.com/doc/5.4/forms.html#rendering-forms" target="_blanck" style="text-decoration:none">SensioLabs</a>
		</small>
	{% endblock %}
