{%  extends 'base.html.twig' %}

{% block body %}
	<link rel="stylesheet" href="{{ asset('css/table.css') }}"/>
	<style>
		.example-wrapper {
			margin: 5em auto;
			max-width: 800px;
			width: 95%;
			font: 1.1em sans-serif;
		}
		/* Rappel à l'utilisateur */
		.aligneDroite {
			float: right !important;
		}

		.message {
			background-color: #ececea;
			padding: 0.7em;
			margin-bottom: 0.5em;
			margin-top: 1em;
		}
		.cacheBtnBleu {
			position: absolute;
			left: 10.3%;
			z-index: 2;
		}
		.redirectInterface {
			color: inherit;
			text-decoration: none !important;
		}
	</style>

	<div
		class="example-wrapper">
		{# {{ form(form) }} #}
		{{  form_start(form) }}
		{{  form_row(form.name,  {'attr': {'placeholder':"Nom du produit ..."}}) }}
		{{  form_row(form.price,  {'attr': { 'placeholder':"Prix du produit "}}) }}
		{{  form_row(form.description,  {'attr': {'placeholder':" "}}) }}
		{{  form_row(form.categorie,  {'attr': {'placeholder':" "}}) }}
		{%  if editMode %}
			<button type="submit" class="btn btn-primary">
				Confirmer
			</button>
			{% for notice1 in app.flashes('notice1') %}
				<button class="btn btn-success cacheBtnBleu">
					<a href="{{path('show_edit_remove_product')}}" class="redirectInterface">Produit Modifié</a>
				</button>
			{% endfor %}
		{%  endif %}
		{{  form_end(form) }}

		<p class="message">
			{% for notice in app.flashes('notice') %}
				{{ notice }}
			{% endfor %}
			<span class="aligneDroite">
				<b>{{ product.id }}</b>:<b>{{ product.name }}</b>
			</span>
		</p>
		<p>
			{% for product in produits %}
				<table>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>{{ product.id}}</td>
						<td>{{product.name }}</td>
						<td>{{ product.price}}€</td>
						<td>{{product.description }}</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</table>
			{% endfor %}
		</p>
		<small>
			<i style="color:gray">Souce:<a href="https://symfony.com/doc/current/doctrine.html#updating-an-object" target="_blanck">Sensio Labs</a>
			</i>
		</small>
	</div>

{% endblock %}
