{%  extends 'base.html.twig' %}

{% block body %}
	<link rel="stylesheet" href="{{ asset('css/table.css') }}"/>
	<style>
		.example-wrapper {
			margin: 5em auto;
			max-width: 800px;
			width: 95%;
			font: 1.1em sans-serif;
		}
		/* Rappel à l'utilisateur */
		.aligneDroite {
			float: right !important;
		}

		.message {
			background-color: #ececea;
			padding: 0.7em;
			margin-bottom: 0.5em;
		}
	</style>

	<div class="example-wrapper">

		{{ form(form) }}
			{% if(product.id ) %}
				<p class="message">
					Confirmer la Suppression du produit
					<span class="aligneDroite">
						<b>{{ product.id }}</b>:
						<b>{{ product.name }}</b>
					</span>
				</p>
			{% else %}
				<p class="message">
					Vous avez supprimé le produit
					<b class="aligneDroite">{{ product.name }}</b>
					!
				</p>
			{% endif %}
			<p>
				{% for product in produits %}
					<table>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>{{ product.id}}</td>
							<td>{{product.name }}</td>
							<td>{{ product.price}}€</td>
							<td>{{product.description }}</td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</table>
				{% endfor %}
			</p>
			<small>
				<i style="color:gray">Souce:<a href="https://symfony.com/doc/current/doctrine.html#updating-an-object" target="_blanck">Sensio Labs</a>
				</i>
			</small>
		</div>


	{% endblock %}
