{%  extends 'base.html.twig' %}

{% block body %}
	<link rel="stylesheet" href="{{ asset('css/table.css') }}"/>
	<link rel="stylesheet" href="{{ asset('css/top.css') }}"/>
	<link rel="stylesheet" href="{{ asset('css/redirect.css') }}"/>
	<style>
		.example-wrapper {
			margin: 5em auto;
			max-width: 800px;
			width: 95%;
			font: 1.1em sans-serif;
		}
		/* Rappel à l'utilisateur 
		.aligneDroite {
			float: right !important;
		}

		.message {
			background-color: #ececea;
			padding: 0.7em;
			margin-bottom: 0.5em;
			margin-top: 1em;
		}
		*/
	</style>

	<div
		class="example-wrapper">

		{# {{ form(form) }} #}
		{{  form_start(form) }}
		{{  form_row(form.titre,  {'attr': {'placeholder':"Nom du produit ..."}}) }}

		{%  if removeMode %}
			<button type="submit" class="btn btn-primary">
				Confirmer
			</button>
		{%  else %}
			<button type="submit" class="btn btn-success">
				<a href="{{path('show_edit_remove_category')}}" class="redirectInterface">Catégorie supprimée !</a>
			</button>
		{%  endif %}
		{{  form_end(form) }}


		{% if(category.id ) %}
			<p class="message">
				Confirmer la Suppression de la catégorie
				<span class="aligneDroite">
					<b>{{ category.id }}</b>:
					<b>{{ category.titre }}</b>
				</span>
			</p>
		{% else %}
			<p class="message">
				Vous avez supprimé la catégorie
				<b class="aligneDroite">{{ category.titre }}</b>
				:
			</p>
		{% endif %}
		<p>
			{% for cat in categories %}
				<table>
					<tr>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>{{ cat.id}}</td>
						<td>{{cat.titre }}</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
					</tr>
				</table>
			{% endfor %}
		</p>
		<small>
			<i style="color:gray">Souce:<a href="https://symfony.com/doc/current/doctrine.html#updating-an-object" target="_blanck">Sensio Labs</a>
			</i>
		</small>
	</div>
	{# le Go-to-top ne prend pas #}
	<button onclick="topFunction()" id="myBtn" title="Go to top">
		<img src="images/top.jpg" id="imageToTop">
	</button>
	<script type="text/javascript" src="js/top.js"></script>

{% endblock %}
