{%  extends 'base.html.twig' %}

{% block body %}
	<link rel="stylesheet" href="{{ asset('css/table.css') }}"/>
	<link rel="stylesheet" href="{{ asset('css/touteslescategoriesOC.css') }}"/>
	<style>
		.example-wrapper {
			margin: 5em auto;
			max-width: 800px;
			width: 95%;
			font: 1.1em sans-serif;
		}
		td {
			width: 7em;
		}
		h4 {
			text-align: left;
		}
	</style>

	<div class="example-wrapper">
		<h3>Toutes les catégories</h3>
		<button class="accordion" onclick="myFunction(this)">
			<b>Categorie 1</b>
			<div class="containerBtn">
				<div class="bar1"></div>
				<div class="bar2"></div>
				<div class="bar3"></div>
			</div>
		</button>
		<div class="panel">
			<p>
				{% for product in produits %}
					{% if product.categorie.id == 1 %}
						<table>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>{{ product.id }}</td>
								<td>{{ product.name }}</td>
								<td>{{ product.price }}€</td>
								<td>{{ product.description }}</td>
								<td>Categorie{{ product.categorie.id }}</td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</table>
					{% endif %}
				{% endfor %}
			</p>
		</div>
		<button class="accordion" onclick="myFunction(this)">
			<b>Categorie 2</b>
			<div class="containerBtn">
				<div class="bar1"></div>
				<div class="bar2"></div>
				<div class="bar3"></div>
			</div>
		</button>
		<div class="panel">
			<p>
				{% for product in produits %}
					{% if product.categorie.id == 2 %}
						<table>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>{{ product.id }}</td>
								<td>{{ product.name }}</td>
								<td>{{ product.price }}€</td>
								<td>{{ product.description }}</td>
								<td>Categorie{{ product.categorie.id }}</td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</table>
					{% endif %}
				{% endfor %}
			</p>
		</div>
		<button class="accordion" onclick="myFunction(this)">
			<b>Categorie 3</b>
			<div class="containerBtn">
				<div class="bar1"></div>
				<div class="bar2"></div>
				<div class="bar3"></div>
			</div>
		</button>
		<div class="panel">
			<p>
				{% for product in produits %}
					{% if product.categorie.id == 3 %}
						<table>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>{{ product.id }}</td>
								<td>{{ product.name }}</td>
								<td>{{ product.price }}€</td>
								<td>{{ product.description }}</td>
								<td>Categorie{{ product.categorie.id }}</td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</table>
					{% endif %}
				{% endfor %}
			</p>
		</div>
		<button class="accordion" onclick="myFunction(this)">
			<b>Categorie 4</b>
			<div class="containerBtn">
				<div class="bar1"></div>
				<div class="bar2"></div>
				<div class="bar3"></div>
			</div>
		</button>
		<div class="panel">
			<p>
				{% for product in produits %}
					{% if product.categorie.id == 4 %}
						<table>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>{{ product.id }}</td>
								<td>{{ product.name }}</td>
								<td>{{ product.price }}€</td>
								<td>{{ product.description }}</td>
								<td>Categorie{{ product.categorie.id }}</td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</table>
					{% endif %}
				{% endfor %}
			</p>
		</div>
	</div>
	<script type="text/javascript" src="js/touteslescategoriesOC.js"></script>
{% endblock %}
