{%  extends 'base.html.twig' %}

{% block body %}
	<link rel="stylesheet" href="{{ asset('css/table.css') }}"/>
	<link rel="stylesheet" href="{{ asset('css/edit_remove.css') }}"/>
	<style>
		.example-wrapper {
			margin: 5em auto;
			max-width: 800px;
			width: 95%;
			font: 1.1em sans-serif;
		}
	</style>

	<div
		class="example-wrapper">
		{# <p>Vous avez ajouté  le <b>{{ product.id }}</b>ème produit:  Un <b>{{ product.name }}</b> </p><hr> #}
		<p>
			{% for product in produits %}
				<table>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>{{ product.id }}</td>
						<td>{{ product.name }}</td>
						<td>{{ product.price }}€</td>
						<td>{{ product.description }}</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</table>
			{% endfor %}
		</p>
	</div>
{% endblock %}
