{%  extends 'base.html.twig' %}

{% block body %}
	<link rel="stylesheet" href="{{ asset('css/table.css') }}"/>
	<style>
		.example-wrapper {
			margin: 5em auto;
			max-width: 800px;
			width: 95%;
			font: 1.1em sans-serif;
		}
		/* aligner les colonnes */
		td {
			width: 5em;
		}
		tr>td:first-child {
			width: 1em;
			font-family: serif;
		}
		td {
			min-width: 7.5em;

		}
	</style>

	<div
		class="example-wrapper">
		{# <p>Vous avez ajouté  le <b>{{ product.id }}</b>ème produit:  Un <b>{{ product.name }}</b> </p><hr> #}
		<p>

			<table>
				<tr class="head-table" style="font-weight:bold;">
					<td></td>
					<td>Produit</td>
					<td>Prix</td>
					<td>Description</td>
					<td>Modifier</td>
					<td>Supprimer</td>
				</tr>
			</table>

			{% for product in produits %}
				<table>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>{{ product.id }}</td>
						<td>{{ product.name }}</td>
						<td>{{ product.price }}€</td>
						<td>{{ product.description }}</td>
						<td><input type="checkbox" class="edit" onclick="checkboxEdit();" name="edit" value="{{ product.id }}"></td>
						<td><input type="checkbox" class="remove" name="remove" value="{{ product.id }}"></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</table>
			{% endfor %}
		</p>
	</div>
	<script>
		function checkboxEdit() {
const collection = document.getElementsByClassName('edit');
// let remove = document.getElementById('remove');
for (let i = 0; i < collection.length; i++) {
if (collection[i].checked === true) {
let n = collection[i].value;
window.location.href = "https://localhost:8000/p/edit/" + n;
// document.write(collection[i].value);
}
}
}
	</script>
{% endblock %}
